@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
        margin: 0px ;
        padding: 0px ; 
        font-family: "Azeret Mono", monospace;
}

/* Banner style */

.banner{
    background-image: url("../assets/Hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:20px;
    padding: 60px 200px;
    margin: 80px 0px ;
}

.banner img{
    width: 20%
}

.banner-btn>a{
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 600;
}

.banner-btn{
    background-color: black;
    border-radius: 10px;
    border:none;
    padding: 14px 22px;
}


/* Shared style */

.title{
    font-size: 48px;
    font-weight: 800;
}

.description{
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}


/* main */
main{
    max-width: 1180px;
    margin: 0px auto;
}

/* Why Web Development style */

.why-web-development{
    background-color: #FAFAFB;
    padding: 80px 160px;
}

.why-web-dev-intro , .my-inspiration-intro{
        text-align: center;
}
.why-web-dev-intro>p , .my-inspiration-intro>p{
    padding:20px;
}

.card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:80px;
    padding:40px;
    background-color:#ffffffb7;
    border-radius: 20px;
    margin: 60px auto;
}

.card-title{
    font-size: 22px;
    font-weight: 700;
    color:gba(13, 19, 33, 0.7);
    line-height: 28px;
    margin-bottom: 16px;
}

.card-description{
    font-size: 14px;
    font-weight: 400;
    color:rgb(13, 19, 33);
    line-height: 22px;
    margin-bottom: 16px;
}

.card-btn{
    border:1px solid rgb(141, 141, 140);
    border-radius: 10px;
    padding: 14px 22px;
    background-color: white;
}

.card-btn>a{
    text-decoration: none;
    color: rgb(141, 141, 140);
}

.web-system{
    flex-direction: row-reverse;
}

/* My Inspiration style */

.my-inspiration{
    padding: 80px 160px;
}

.my-inspiration>iframe{
    border:1px solid rgb(197, 197, 197);
    padding: 28px;
    border-radius: 20px;
}